<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy;
      <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course" target="_blank">
        Udemy - The Complete Ruby on Rails Developer Course
      </a>
      by <a href="http://www.mashrurhossain.com/" target="_blank">Mashrur Hossain</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
